.myDiv {
  display: block;
  text-align: center;
}
.a2 {
  font-family: "Roboto", cursive;
  font-size: 1.5rem;
  display: block;
  text-align: center;
  padding: 0.25em 1em;
  border-radius: 0.55rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  margin: 10px;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
}
h1 {
  font-family: "Roboto", cursive;
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
}
.ico2 {
  max-height: px;
  max-width: 65px;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 25px;
  right: 75px;
}

.ico {
  max-height: 70px;
  max-width: 70px;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 15px;
  right: 10px;
}
.ico2 {
  max-height: 70px;
  max-width: 70px;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 15px;
  right: 90px;
}
a {
  fill: rgb(255, 255, 255);
}
path {
  fill: rgb(255, 255, 255);
}
