 .myDiv{
    display:block;
    text-align:center;

}
a {
    font-family: "Roboto", cursive;
    font-size: 1.5rem;
    display:block;
    text-align:center;
    padding: 0.25em 1em;
    border-radius: 0.55rem;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    margin: 10px;
    color: rgb(255, 255, 255);
    border:1px solid rgb(255, 255, 255);

}
h1 {
    font-family: "Roboto", cursive;
    display:block;
    text-align:center;
    text-decoration: none;
    color: white
}